<div>
  <section>
    <h1>{{name}}</h1>
    <li>description - {{description}}</li>
    <li>price - {{price}}</li>
    <li>category - {{category}}</li>
    {{#with features}}
    {{#with processor}}
    <li>brand - {{brand}}</li>
    <li>model - {{model}}</li>
    <li>speed - {{speed}}</li>
    <li>cores - {{cores}}</li>
    <li>cache - {{cache}}</li>
    {{/with}}
    {{#with memory}}
    <li>type - {{type}}</li>
    <li>size - {{size}}</li>
    <li>speed - {{speed}}</li>
    {{/with}}
    {{#with storage}}
    <li>type - {{type}}</li>
    <li>size - {{size}}</li>
    {{/with}}
    {{#with display}}
    <li>size - {{size}}</li>
    <li>resolution - {{resolution}}</li>
    <li>technology - {{technology}}</li>
    <li>technology - {{technology}}</li>
    <li>brightness - {{brightness}}</li>
    <li>refresh_rate - {{refresh_rate}}</li>
    {{/with}}
    {{#with graphics}}
    <li>brand - {{brand}}</li>
    <li>model - {{model}}</li>
    <li>memory - {{memory}}</li>
    {{/with}}
    {{#each ports}}
    <li>type - {{type}}</li>
    <li>count - {{count}}</li>
    {{#each features}}
    <li>{{this}}</li>
    {{/each}}
    {{/each}}
    {{#with battery}}
    <li>type - {{type}}</li>
    <li>capacity - {{capacity}}</li>
    <li>life - {{life}}</li>
    {{/with}}
    <li>weight - {{weight}}</li>
    {{#with dimensions}}
    <li>height - {{height}}</li>
    <li>width - {{width}}</li>
    <li>depth - {{depth}}</li>
    {{/with}}
    <li>operating_system - {{operating_system}}</li>
    {{#each accessories}}
    <li>name - {{name}}</li>
    <li>price - {{price}}</li>
    {{/each}}
    {{/with}}
  </section>
</div>