<div>
  <section>
    <h1> {{name}} </h1>

      <h2>{{description}}
      <br>
      Price - {{price}}
    </h2>
    
    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <strong> Processor </strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> 
          {{#with features}}
    {{#with processor}}
    
    Brand - {{brand}} <br>
    Speed - {{speed}}<br>
    Cores - {{cores}}<br>
    Cache - {{cache}} <br>
     {{/with}}
   
    </strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong> Memory </strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> 
    {{#with memory}}
    Type - {{type}}<br>
    Size - {{size}}<br>
    Speed - {{speed}}<br>
    {{/with}}
    {{#with storage}}
    Type - {{type}}<br>
    Size - {{size}}<br>
    {{/with}}
    </strong> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <strong> Storage </strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{#with storage}}
    type - {{type}} <br>
    size - {{size}} <br>
    {{/with}}
    {{#with display}}
    size - {{size}} br
    resolution - {{resolution}}<br>
    technology - {{technology}}<br>
    technology - {{technology}}<br>
    brightness - {{brightness}}<br>
    refresh_rate - {{refresh_rate}} <br>
    {{/with}}</strong> 
      </div>
    </div>
  </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       <strong> Graphics </strong>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <strong>
        {{#with graphics}}
    brand - {{brand}} <br>
    model - {{model}} <br>
    memory - {{memory}} <br>
    </strong>
    {{/with}} 
    </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       <strong> Ports / And so on...  </strong>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <strong>
{{#each ports}}
    type - {{type}} <br>
    count - {{count}} <br>
    {{#each features}}
    {{this}} <br>
    {{/each}}
    {{/each}}
    {{#with battery}}
    type - {{type}} <br>
    capacity - {{capacity}} <br>
    life - {{life}} <br>
    {{/with}}
    weight - {{weight}} <br>
    {{#with dimensions}} 
    height - {{height}}<br>
    width - {{width}}<br>
    depth - {{depth}}<br>
    {{/with}}
    operating_system - {{operating_system}}<br>
    {{#each accessories}}
    name - {{name}}<br>
    price - {{price}}<br>
    {{/each}}
    {{/with}}
  </section>
</div>
      </strong></div>
    </div>
  </div>
   
    
    
    