{{#with page_header}}
<h1 class="text-center">{{title}}</h1>
<div class="text-center">{{description}}</div>
{{/with}}
{{#with section}}
{{#with about_us}}
{{#with title_list}}
<div class="dispaly-6 text-end">{{main}}</div>
<h2 class="text-end">{{sub}}</h2>
{{/with}}
{{#with button}}
<button class="btn text-info">{{text}}</button>
{{/with}}
{{/with}}
{{#with advantage}}
<div class="dispaly-5">{{title}}</div>
{{#with efficiency}}
<div class="dispaly-5">{{title}}</div>
<h6>sub_title</h6>
<p>{{description}}</p>
<button class="btn btn-warning">{{button}}</button>
{{/with}}
{{#with innovation}}
<div class="dispaly-4 text-center">{{title}}</div>
<h6 class="text-center">{{sub_title}}</h6>
<p class="text-center">{{description}}</p>
<button class="btn btn-warning">{{button}}</button>
{{/with}}
{{#with collaboration}}
<div class="dispaly-4 text-end">{{title}}</div>
<h6 class="text-end">{{sub_title}}</h6>
<p class="text-end">{{description}}</p>
<button class="btn btn-warning">{{button}}</button>
{{/with}}
{{/with}}
{{#with agreement}}
<div class="dispaly-4 text-end">{{title}}</div>
{{#with info}}
<h5 class="text-end">{{sub_title}}</h5>
{{#with detail}}
<p class="text-end">{{text}}</p>
<button class="btn btn-success">{{button}}</button>
{{/with}}
{{/with}}
{{/with}}
{{/with}}